<!-- <p>sidebar works!</p>
<router-outlet></router-outlet> -->

<body>
    <div class="sidebar">
        <div class="sidebar-head">
            <span>InstaFake</span>
        </div>
        <a href="/home" class="sidebar-item">
            <i class="fas fa-home"></i>
            <span>Inicio</span>
        </a>
        <div class="sidebar-item disabled">
            <i class="fas fa-search"></i>
            <span>Buscar</span>
        </div>
        <a href="/newpost" class="sidebar-item">
            <i class="fas fa-plus-square"></i>
            <span>Nueva publicación</span>
        </a>
        <div class="sidebar-item disabled">
            <i class="fas fa-heart"></i>
            <span>Notificaciones</span>
        </div>
        <a href="/profile" class="sidebar-item">
            <img [src]="this._authService.perfil.foto" alt="">
            <span>Perfil</span>
        </a>
        <a class="sidebar-item" (click)="signOut()">
            <i class="fas fa-sign-out"></i>
            <span>Cerrar sesión</span>
        </a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</body>