<div class="container">

    <form class="row g-3" #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <div class="form-floating col-12">
            <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="comment"
                style="height: 100px" [(ngModel)]="post.comment"></textarea>
            <label for="comments">Comments</label>
        </div>
        <div class="input-group mb-3 col-12">
            <label class="input-group-text" for="imageFile">Upload</label>
            <input type="file" class="form-control" id="imageFile" name="imageFile" [(ngModel)]="post.imageFile"
                (change)="catchFile($event)" required="">
        </div>
        <div class="p-img">
            <img class="preview" [src]="post.imageB64" alt="">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Publicar</button>
        </div>
    </form>
</div>