<div class="container">
    <header>
        <div class="section1">
            <div style="width: 130px; height: 130px;">
                <img [src]="this._authService.perfil.foto" alt="">
            </div>
        </div>
        <div class="section2">
            <div class="email">{{this._authService.perfil.email}}</div>
            <div class="infoData">
                <div>{{this._userService.myData.posts.length}} Publicaciones</div>
                <div>{{this._userService.myData.followers.length}} Seguidores</div>
                <div>{{this._userService.myData.following.length}} Seguidos</div>
            </div>
            <div class="username">{{this._authService.perfil.nombre_completo}}</div>
        </div>
    </header>
    <div class="options">
        <a href="/profile">
            <i class="fas fa-th"></i>
            <span>Publicaciones</span>
        </a>
    </div>
    <div class="myposts">
        @for(myposts of this._userService.myData.posts; track myposts){
        <img [src]="myposts.image" alt="">
        }
    </div>
</div>